<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlacesDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A63C8C01E3F2FD600F80EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A63C8D41E3F2FD600F80EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A63C8DF1E3F2FD600F80EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
